<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TrollBoard Reborn.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FEF3FAA72B1672AA0039FA14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEF3FAB72B1672AC0039FA14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEF3FAC12B1672AC0039FA14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
